
li a {
    color: red;
}

div {
    border: 1px solid black;
}

a:visited {
    color: green;    
  }

  .click-it {
      color: palevioletred;
  }  

  #click-here3 {
      background: lightblue;
  }

  .click {
    background-color: lightpink;
  }
  
  body {
      font-family: 'Bilbo';font-size: 22px;
  }
    
  div a:nth-child(3) {  
    color: #C55;
  }

  img {
    height: 150px;
    width: 150px;
  }

  P {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: violet
  }

